* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
}
.title{
    background-color: gray;
    width: 100%;
    height: 60px;
}
.bottom{
    background-color: gray;
    position: relative;
    top: 500px;
    width: 100%;
    height: 170px;
}
.left{
    position: absolute;
    width: 400px;
    top: 80px;
    left: 200px;
}
.right{
    position: absolute;
    width: 230px;
    top: 80px;
    right: 200px;
}
.img_bottom{
    height: 160px;
    position: absolute;
    top: -80px;
    left: 45%;
}

.img_top{
    height:60px;
    position: absolute;
    left: 200px;
}
.text{
    height: 60px;
    font-size: 30px;
    position: absolute;
    left: 300px;
}

.img_peo{
    height: 60px;
    position: absolute;
    right: 200px;
}