</html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>预约挂号</title>
    <!-- 图标 -->
    <link rel="stylesheet" href="../css/demo.css">
</head>

<body>
    <div class="main">
        <div class="title">
            <img class="img_top" src="../Pic/img.jpeg" />
            <div class="text">
                医院信息管理系统
            </div>
            <img src="../Pic/img2.png" alt="" class="img_peo">
        </div>
        <script src="http://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <div>
            <div>
              <label for="department-select">选择科室：</label>
              <select id="department-select" v-model="selectedDepartment" @change="getDoctorAvailability">
                <option value="internal-medicine" selected>内科</option>
                <option value="pediatrics">儿科</option>
                <option value="surgery">外科</option>
              </select>
            </div>
        
            <div id="app">
              <label for="date-select">选择日期：</label>
              <select id="date-select" v-model="selectedDate" @change="getDoctorAvailability">
                <option value="Today" selected>今天</option>
                <option value="Tomorrow">明天</option>
                <option value="Day After Tomorrow">后天</option>
              </select>
            </div>
            <hr>
        
            <div v-if="availableDoctors.length > 0">
              <h3>可预约医生：</h3>
              <table>
                <thead>
                  <tr>
                    <th>名字</th>
                    <th>职称</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="doctor in availableDoctors" :key="doctor.id">
                    <td>{{ doctor.name }}</td>
                    <td>{{ doctor.title}}</td>
                  </tr>
                </tbody>
              </table>

            </div>
        
            <div v-else>
              <p>No doctors available on selected date.</p>
            </div>
        </div>


        <script>
            var app = new Vue({
              el:"#app",
              data() {
                return {
                  selectedDepartment: 'surgery',
                  selectedDate: 'Today',
                  availableDays: ['Today', 'Tomorrow', 'Day After Tomorrow'],
                  availableDoctors: [],
                };
              },
              methods: {
                getDoctorAvailability() {
                  availableDoctors = [];
                  //// unfinished
                  this.availableDoctors = availableDoctors;
                },
                appoint(){
                  //unfinished
                }
              },
              mounted() {
                // Get the list of available doctors on page load
                this.getDoctorAvailability();
              },
            });
            </script>



        <div class="bottom">
            <div class="left">
                版权所有 2014-2022 北京航空航天大学<br>
                京ICP备05004617-3<br>
                文保网安备案号1101080018
            </div>
            <img class="img_bottom" src="../Pic/img.jpeg" />
            <div class="right">
                地址：北京市海淀区学院路37号<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;邮编：100191<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电话：82317114
            </div>
        </div>
    </div>
</body>

</html>
